@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

p {
    color: blue;
    font-size: 50px;
}

.decoration {
    text-decoration: underline overline line-through red;
}
.transform {
    text-transform: uppercase;
}
/* beck up font ვიყენებთ იმიტომ რომ თუ ერთმა არ იმუშავა იმუშაოს მეორემ ან მესამემ  */
.font {
    font-family: 'Roboto', sans-serif; 
}

.hover:hover {
    color: red;
    font-size: 30px;
}

.active:active {
    color: green;
    font-size: 40px;
}

.link:link {
    color: blue;
    font-size: 20px;
}

a {
    size: 50px;
}