
.images img {
    display: block; 
    width: 200px;
    margin-bottom: 10px;
}

        
.wrap-container {
    display: flex;
    flex-wrap: wrap; 
    gap: 10px;
}

.wrap-item {
    width: 150px;
    height: 100px;
    background: lightblue;
}

        
.grow-container {
    display: flex;
}

.grow-item {
    flex-grow: 1; 
    height: 100px;
    background: lightgreen;
    margin: 5px;
}

        
.shrink-container {
    display: flex;
    width: 300px;
    border: 2px solid black;
}

.shrink-item {
    width: 200px;
    height: 80px;
    background: pink;
    margin: 5px;
    flex-shrink: 1; 
}

    
.column-container {
    display: flex;
    flex-direction: column; 
    border: 1px solid gray;
    width: 200px;
}
