table, td{
    border: 1px solid black;
    border-collapse: collapse;
}

tr {
    border: 2px solid red;
}

tr:nth-child(2) {
    background-color: lightblue;
}

.my-ol {
    list-style: upper-roman;
}

.my-ul {
    list-style: square;
}

input[type="text"] {
    border: 2px solid green;
}

input[type="email"] {
    border: 2px solid blue;
}

.box {
    padding: 20px;
    background: lightblue;
}

/*  box-modeli შედგება 4 ფენისგან

    content - ელემენტის შიგთავსი
    padding - content- სა და border - ის შორის მანძილი
    border - pading - სა და margin - ის შორის მანძილი
    margin - ელემენტის გარე მანძილი */