/* 
Color model გამოიყენება ფერების გამოსასახად ეკრანზე, ვებგვერდებზე ან ბეჭდვაში.
სხვადასხვა მოდელი განსაზღვრავს როგორ იქმნება ფერი რომელი ძირითადი ფერების შერევით.
*/

/* ყველაზე გავრცელებული მოდელები: 
   1. RGB
   2. HEX
*/

/* RGB (Red, Green, Blue)
   გამოიყენება ეკრანებზე. ფერის მიღება სამი ფერის (წითელი, მწვანე, ლურჯი) შერევით. */
.rgb-box {
  background-color: rgb(255, 0, 0); 
  color: white;
}

/*HEX 
   იგივეა რაც RGB, მაგრამ ფერი წერია რიცხვებითა და ასოებით (0–F). */
.hex-box {
  background-color: #00ff00; 
  color: black;
}

/* 
px და % გამოიყენება ელემენტების ზომების (მაგალითად width, height, font-size და სხვ.) დასადგენად.

px (პიქსელი):
- ფიქსირებული ზომაა.
- არ იცვლება ეკრანის ზომის მიხედვით.
- ამიტომ, responsive design-ისთვის (მობილური და სხვადასხვა ეკრანებისთვის მორგებული დიზაინი)
 px-ის გამოყენება ცუდი პრაქტიკაა, რადგან იგი არ ადაპტირდება.

% (პროცენტი):
   - დამოკიდებულია მშობელი ელემენტის ზომაზე.
   - ავტომატურად ერგება სხვადასხვა ეკრანის ზომას.
   - ამიტომ responsive design-ში % (ან სხვა შედარებითი ერთეულები, როგორიცაა em, rem, vw, vh) ჯობს.
*/


/* px მაგალითები*/

.box-px-1 {
  width: 300px;      
  height: 100px;
  background-color: crimson;
  color: white;
  text-align: center;
}


.text-px-2 {
  font-size: 20px;   
  color: navy;
}


/* %-ზე მაგალითები*/


.box-percent-1 {
  width: 50%;        
  height: 100px;
  background-color: seagreen;
  color: white;
  margin: 10px auto;
  text-align: center;
}


.box-percent-2 {
  width: 80%;
  height: 50%;       
  background-color: steelblue;
  color: white;
  margin: 10px auto;
  text-align: center;
}





